.header {
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  top: 0px;
  background-color: var(--nextui-colors-backgroundLight);
  transition: background-color 250ms ease-in-out;
  color: white;
  justify-content: end;
  z-index: 4;
}

.links {
  right: 20px;
  position: absolute;
  display: inline-flex;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.links a {
  font-size: 17px;
  font-weight: 500;
}

.header .leftSide {
  position: absolute;
  display: inline-flex;
  top: 50%;
  transform: translateY(-50%);
}

.header .st0 {
  fill: #74a441;
  fill: #74a44111;
}
.header .st2 {
  clip-path: url(#si2);
}

.header .logo {
  width: 130px;
  display: inline-flex;
}

.header .logo .logoText {
  fill: var(--nextui-colors-textLogo);
}
