.header {
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  top: 0px;
  background-color: var(--background-color-lighter);
  color: white;
  justify-content: end;
  z-index: 3;
}

.links {
  right: 20px;
  position: absolute;
  display: inline-block;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.links a {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
