.video_container {
  margin: 2px;
  text-decoration: none;
  border: 0px solid var(--nextui-colors-primary);
  position: relative;

  --lineHOffset: 18px;
  --lineVOffset: 10px;
}

.video_container::after {
  content: "";
  position: absolute;
  top: calc(0px + var(--lineVOffset));
  left: calc(0px + var(--lineHOffset));
  width: 3px;
  height: 0px;
  background-color: var(--nextui-colors-primary);
  transition: height 150ms ease-in-out;
}

.video_container::before {
  content: "";
  position: absolute;
  top: calc(0px + var(--lineVOffset));
  left: calc(0px + var(--lineHOffset));
  width: 0px;
  height: 3px;
  background-color: var(--nextui-colors-primary);
  transition: width 150ms ease-in-out;
}

.video_container:hover::after {
  height: 0%;
}
.video_container:hover::before {
  width: 60%;
}
