.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: var(--nextui-colors-backgroundLight);
  transition: background-color 250ms ease-in-out;
  z-index: 3;
  text-align: center;
}
