.sidebar {
  background-color: var(--nextui-colors-sidebarBackground);
  width: 0;
  height: calc(100vh - var(--header-height, 0));
  position: fixed;
  left: 0;
  top: var(--header-height, 0);
  overflow-y: auto;
  transition: background-color 250ms ease-in-out;
  z-index: 3;
  text-align: center;
}

.sidebar.opened {
  transition: width 250ms ease-in-out;
  width: var(--sidebar-width);
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(
    --nextui-colors-sidebarBackground
  ); /* or add it to the track */
}
.sidebar::-webkit-scrollbar-thumb {
  background: var(--nextui-colors-sidebarScrollThumb);
  border-radius: 2px;
}
