::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #181818; /* or add it to the track */
}
::-webkit-scrollbar-thumb {
  background: #74a642;
  border-radius: 2px;
}

body {
  --header-height: 60px;
  --background-color-darker: #181818;
  --background-color-lighter: #212121;
  --accent-color: #74a642;
  --sidebar-width: 200px;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  width: 100vw;
  min-height: 100vh;
}
.app {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: "0px";
  margin: none;
}
.content {
  padding-top: 4px;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  background-color: var(--background-color-darker);
  border-top: 1px solid #aaa8;
}

.app * {
  z-index: 2;
}

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Bkp logo animation */

@keyframes bkgLogoAnimation {
  0% {
    left: -60%;
    bottom: -70%;
    filter: blur(500px);
  }
  25% {
    left: -45%;
    bottom: -65%;
  }
  50% {
    left: -35%;
    bottom: -60%;
  }
  75% {
    left: -45%;
    bottom: -45%;
  }
  100% {
    left: -60%;
    bottom: -70%;
    filter: blur(500px);
  }
}

.bkgsvg {
  width: 100vw;
  height: 100vh;
  position: fixed;

  z-index: 1;
  animation: bkgLogoAnimation 20s linear 0s infinite both;
}
.bkgsvg .st0 {
  fill: #74a441;
}
.bkgsvg .st2 {
  clip-path: url(#si2);
}
