::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #181818; /* or add it to the track */
}
::-webkit-scrollbar-thumb {
  background: #74a642;
  border-radius: 2px;
}

body {
  --header-height: 35px;
  --background-color-darker: #181818;
  --background-color-lighter: #212121;
  --accent-color: #74a642;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.content {
  display: flex;
  flex-grow: 1;
  margin-top: var(--header-height);
  background-color: var(--background-color-darker);
}

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
